<mat-card>
  <h1 class="mat-title">Dynamic image sizes with Angular</h1>
  <p class="mat-body1">rendered on: {{ isBrowser ? 'browser' : 'server' }}</p>
</mat-card>
<mat-card>
  <h2 class="mat-h2">Breakpoints</h2>
  <mat-list>
    <mat-list-item *ngFor="let breakpoint of breakpoints"
      ><span class="mat-body-1">{{ breakpoint }}</span></mat-list-item
    >
  </mat-list>
  <p class="mat-body-1">current breakpoint: {{ currentBreakpoint$ | async }}</p>
  <p class="mat-body-1">breakpointUp$: {{ breakpointUp$ | async }}</p>
</mat-card>
<mat-card>
  <h2 class="mat-h2">Dynamic Image</h2>
  <div class="image-container">
    <img
      imgSrc="http://localhost:4000/cdn/banner/:width"
      src="assets/images/placeholder.jpg"
      responsiveImage
      alt="test image"
      mat-card-image
    />
  </div>
</mat-card>
<mat-card>
  <h2 class="mat-h2">Dynamic Image manually handling breakpoint changes</h2>
  <div class="image-container">
    <img
      imgSrc="http://localhost:4000/cdn/banner/:width"
      src="assets/images/placeholder.jpg"
      responsiveImage
      [manual]="true"
      alt="test image"
      (breakpointUp)="updateImage($event, img)"
      mat-card-image
      #img
    />
  </div>
</mat-card>
